<div class="w-full h-full flex mt-2">
    <div class="w-1/6 h-full bg-red-500"> MESSAGES LIST</div>
    <Conversation @model={{this.model.currentUser }}/>
    <FriendsList @model={{this.model.currentUser.friendsList}} @user-service={{this.model}}/>
</div>