<div
  class='max-w-xl mx-auto text-center flex flex-col items-center justify-center h-full'
>
  <p>Your registration was successfull ! You can now loggin and start adding
    your friends !</p>
  <LinkTo
    @route='login'
    class='py-2 px-6 rounded bg-blue-600 text-white mt-4 hover:bg-blue-300'
  >Login</LinkTo>

</div>